-# in app/views/movies/show.html.haml

%h2 Details about #{@book.name}

%ul#details
  %li
    Title       :      
    = @book.name
  %li
    Barcode   :
    = @book.barcode
  %li
    BookId    :
    = @book.callnum


-#= link_to 'Edit', edit_movie_path(@book)
= button_to 'Delete', delete_destroy_path(:id => @book.id), :confirm => 'Are you sure?'
-#= link_to 'Back to movie list', movies_path
