-# in app/views/movies/show.html.haml

%h2 Details about #{@book.name}

%ul#details
  %li
    Title       :      
    = @book.name
  %li
    Barcode   :
    = @book.barcode
  %li
    BookId    :
    = @book.callnum

= button_to 'Delete', delete_destroy_path(:id=>@book.id),:confirm => 'Are you sure?'

