%a{:href => '/bookdbs/logout'} Log out
%h2{:style=>'text-align: center'} Main page

%table
  %tr
    %td
      %lable ชื่อ-นามสกุล :
    %td
      =session[:studentname]
  %tr
    %td
      %lable เลขประจำตัวนักศึกษา :
    %td
      =session[:studentid]

%h4{:style=>'text-decoration: underline;'} ยืมหนังสือ

%form{ :controller => 'useraccess', :action => 'borrowbook', :method => 'get' }
  %table{ :border => 0, :width => "100%", :height => "100%" }
    %tr{ :align => "center", :valign => "center" }
      %td
        %label รหัสหนังสือ :
        =text_field_tag  :bid, params[:bid]
      %td
        %input{ :type => "submit", :name => "submit", :value => "Borrow" }


%h4{:style=>'text-decoration: underline;'} Borrowed Book

%table{ :border => 1, :width => "100%", :height => "100%" }
  %thead
    %tr{ :align => "center", :valign => "center" }
      %td
        %label ชื่อหนังสือ
      %td
        %label วันที่ยืม
      %td
        %label วันที่ต้องคืน
      %td
        %label รหัสหนังสือ
      %td
        %label บาร์โค้ด
      %td
        %label ค่าปรับ
      %td
        %label คืน
  - if(@status)
    %tbody
      - @status.each do |user|
        %tr
          %td= user.bookname
          %td= user.borrowdate
          %td= user.duedate
          %td= user.bookid
          %td= user.barcode
          %td= user.fee
          %td= button_to "Remove", :controller=>"useraccess",:action => "main",:id => user.id, :method => :delete

